In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

In [2]:
# Import Austin Animal Center intakes and outcomes - 
aac_df = pd.read_csv("aac_intakes_outcomes.csv")[[
    'animal_id_outcome',
    'outcome_type',
    'outcome_subtype',
    'sex_upon_outcome',
    'age_upon_outcome_(days)',
    'outcome_month',
    'outcome_number',
    'animal_id_intake',
    'animal_type',
    'breed',
    'color',
    'intake_condition',
    'intake_type',
    'sex_upon_intake',
    'age_upon_intake_(days)',
    'intake_month',
    'time_in_shelter_days', # goal
]]

print(aac_df.shape)
aac_df.head()

(79672, 17)

,animal_id_outcome,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome_(days),outcome_month,outcome_number,animal_id_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),intake_month,time_in_shelter_days
0,A006100,Return to Owner,NaN,Neutered Male,3650,12,1.0,A006100,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,3650,12,0.588194
1,A006100,Return to Owner,NaN,Neutered Male,2555,12,2.0,A006100,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,2555,12,1.259722
2,A006100,Return to Owner,NaN,Neutered Male,2190,3,3.0,A006100,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,2190,3,1.113889
3,A047759,Transfer,Partner,Neutered Male,3650,4,1.0,A047759,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,3650,4,4.970139
4,A134067,Return to Owner,NaN,Neutered Male,5840,11,1.0,A134067,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,5840,11,0.119444

In [3]:
aac_df = aac_df[(aac_df['animal_type'] == 'Dog') | (aac_df['animal_type'] == 'Cat')]

print(aac_df.shape)
aac_df.head()

(74905, 17)

,animal_id_outcome,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome_(days),outcome_month,outcome_number,animal_id_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),intake_month,time_in_shelter_days
0,A006100,Return to Owner,NaN,Neutered Male,3650,12,1.0,A006100,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,3650,12,0.588194
1,A006100,Return to Owner,NaN,Neutered Male,2555,12,2.0,A006100,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,2555,12,1.259722
2,A006100,Return to Owner,NaN,Neutered Male,2190,3,3.0,A006100,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,2190,3,1.113889
3,A047759,Transfer,Partner,Neutered Male,3650,4,1.0,A047759,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,3650,4,4.970139
4,A134067,Return to Owner,NaN,Neutered Male,5840,11,1.0,A134067,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,5840,11,0.119444

In [4]:
#check unmatching animal ids
aac_df[aac_df['animal_id_outcome'] != aac_df['animal_id_intake']].shape

#remove duplicate id column
aac_df.rename(columns={"animal_id_outcome": "animal_id"}, inplace=True)
aac_df.drop(columns=['animal_id_intake'], inplace=True)
print(aac_df.shape)
aac_df.head()

(74905, 16)

,animal_id,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome_(days),outcome_month,outcome_number,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),intake_month,time_in_shelter_days
0,A006100,Return to Owner,NaN,Neutered Male,3650,12,1.0,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,3650,12,0.588194
1,A006100,Return to Owner,NaN,Neutered Male,2555,12,2.0,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,2555,12,1.259722
2,A006100,Return to Owner,NaN,Neutered Male,2190,3,3.0,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,2190,3,1.113889
3,A047759,Transfer,Partner,Neutered Male,3650,4,1.0,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,3650,4,4.970139
4,A134067,Return to Owner,NaN,Neutered Male,5840,11,1.0,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,5840,11,0.119444