In [26]:
import pandas as pd

In [30]:
# Import Austin Animal Center intakes and outcomes - 
aac_df = pd.read_csv("aac_intakes_outcomes.csv")[[
    'animal_type',
    'breed',
    'intake_month',
    'intake_weekday',
    'color',
    'age_upon_intake_(days)',
    'intake_type',
    'intake_condition',
    'sex_upon_intake',
    'sex_upon_outcome',
    'time_in_shelter_days' # goal
]]

aac_df.head(10)

,animal_type,breed,intake_month,intake_weekday,color,age_upon_intake_(days),intake_type,intake_condition,sex_upon_intake,sex_upon_outcome,time_in_shelter_days
0,Dog,Spinone Italiano Mix,12,Thursday,Yellow/White,3650,Stray,Normal,Neutered Male,Neutered Male,0.588194
1,Dog,Spinone Italiano Mix,12,Friday,Yellow/White,2555,Public Assist,Normal,Neutered Male,Neutered Male,1.259722
2,Dog,Spinone Italiano Mix,3,Friday,Yellow/White,2190,Public Assist,Normal,Neutered Male,Neutered Male,1.113889
3,Dog,Dachshund,4,Wednesday,Tricolor,3650,Owner Surrender,Normal,Neutered Male,Neutered Male,4.970139
4,Dog,Shetland Sheepdog,11,Saturday,Brown/White,5840,Public Assist,Injured,Neutered Male,Neutered Male,0.119444
5,Dog,Labrador Retriever/Pit Bull,11,Saturday,Black/White,5475,Stray,Aged,Spayed Female,Spayed Female,0.870833
6,Dog,Miniature Schnauzer Mix,11,Friday,Black/Gray,5475,Stray,Normal,Intact Female,Intact Female,0.178472
7,Dog,Lhasa Apso Mix,9,Monday,Brown/White,5475,Stray,Normal,Neutered Male,Neutered Male,0.213194
8,Dog,Shetland Sheepdog Mix,3,Monday,White/Black,5475,Public Assist,Normal,Neutered Male,Neutered Male,6.258333
9,Dog,Shetland Sheepdog Mix,9,Friday,Brown/White,6570,Stray,Normal,Spayed Female,Spayed Female,0.054167

In [31]:
f'Samples {aac_df.shape[0]}'

'Samples 79672'

In [32]:
# Filter only dogs and cats
aac_df = aac_df[aac_df['animal_type'].str.contains('Dog|Cat')]

f'Samples {aac_df.shape[0]}'

'Samples 74905'

In [89]:
# Convert sex_upon_intake/sex_upon_outcome

# Testing features
n_samples_sex_diff = aac_df[aac_df['sex_upon_intake'] != aac_df['sex_upon_outcome']].shape[0]
print(f'Number of animals with reproductive state changed: {n_samples_sex_diff}')

n_samples_sex_unknown_io = aac_df.query('sex_upon_intake == "Unknown" & sex_upon_outcome == "Unknown"').shape[0]
print(f'Number of animals with reproductive state unknown (both intake and outcome): {n_samples_sex_unknown}')

n_samples_sex_unknown_i_no_o = aac_df.query('sex_upon_intake == "Unknown" & sex_upon_outcome != "Unknown"').shape[0]
print(f'Number of animals with intake reproductive state unknown and diff outcome reproductive state: {n_samples_sex_unknown_i_no_o}')

n_samples_sex_unknown_no_i_o = aac_df.query('sex_upon_intake != "Unknown" & sex_upon_outcome == "Unknown"').shape[0]
print(f'Number of animals with outcome reproductive state unknown and diff intake reproductive state: {n_samples_sex_unknown_i_no_o}')

print("If sex_upon_intake is unknown so will be sex_upon_outcome")

n_samples_only_sex_diff = aac_df[ \
    ((aac_df['sex_upon_intake'].str.contains('Male', na=False)) \
    &(aac_df['sex_upon_outcome'].str.contains('Female', na=False))) \
    | \
    (aac_df['sex_upon_intake'].str.contains('Female', na=False)) \
    &(aac_df['sex_upon_outcome'].str.contains('Male', na=False))].shape[0]

print(f'Number of animals with different sex (Male/Female) after io: {n_samples_only_sex_diff}')

print("If sex_upon_intake is Male/Female so will be sex_upon_outcome => all the changes are due to spaying/neutering")

# df[['First Name', 'Last Name']] = df["Student_details"].apply(lambda x: pd.Series(str(x).split(",")))
# print(df)

Number of animals with reproductive state changed: 29883
Number of animals with reproductive state unknown (both intake and outcome): 2819
Number of animals with intake reproductive state unknown and diff outcome reproductive state: 0
Number of animals with outcome reproductive state unknown and diff intake reproductive state: 0
If sex_upon_intake is unknown so will be sex_upon_outcome
Number of animals with different sex after io: 0
If sex_upon_intake is Male/Female so will be sex_upon_outcome => all the changes are due to spaying/neutering

In [ ]:
# Breaking down features